body {
    background-color: #FDDA00;
}

.Calculator {
    width: 320px;
    margin: 150px auto; 
}

.Top {
    background-color: #A6B9CE;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}

.Bottom {
    background-color: #D5E3DE;
    height: 300px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.firstRow, .secondRow, .thirdRow, .fourthRow, .fifthRow {
    display: flex;
    justify-content: center;
}

.rightButtons {
    flex: auto;
}

.Display {
    font-size: x-large;
    color: #686764;
    font-weight: bold;
    background-color: #D2DCBB;
    border-radius: 5px;
    width: 220px;
    height: 35px;
    margin: auto;
    padding: 10px 20px 2px;
}

button {
    background-color: #7B99A6;
    width: 65px;
    height: 40px;
    font-size: large;
    color: whitesmoke;
    border: none;
    padding: 0;
    margin: 5px 2px;
}

.Equal {
    background-color: #FBBB02;
}

.Equal, .Clear {
    width: 102px;
}

#zero {
    width: 205px;
}
